Iteration : 
> 0. Base Feature : year and month of sale, lot square footage, and number of bedrooms
> 1. Same Feature, Outlier & Data cleaning applied
> 2. Added new feature : FullBath & HalfBath
> 3. Added Categorical feature : MSZoning
> 4. Changing Outlier removal group by to MSZoning
> 5. Added Feature : OverallQual & OverallCond

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
from IPython.display import display

matplotlib.rcParams["figure.figsize"] = (20,10)

# Data Exploration

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submission = pd.read_csv("sample_submission.csv")

pd.options.display.max_columns = None
display(train.head())
display(test.head())

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,PConc,TA,TA,No,GLQ,602.0,Unf,0.0,324.0,926.0,GasA,Ex,Y,SBrkr,926,678,0,1604,0.0,0.0,2,1,3,1,Gd,7,Typ,1,Gd,Attchd,1998.0,Fin,2.0,470.0,TA,TA,Y,360,36,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,PConc,Gd,TA,No,ALQ,263.0,Unf,0.0,1017.0,1280.0,GasA,Ex,Y,SBrkr,1280,0,0,1280,0.0,0.0,2,0,2,1,Gd,5,Typ,0,NaN,Attchd,1992.0,RFn,2.0,506.0,TA,TA,Y,0,82,0,0,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
feature_list = ['LotArea','BedroomAbvGr','MoSold','YrSold','HalfBath','FullBath','MSZoning','OverallQual','OverallCond','Neighborhood','SalePrice']
df1 = train[feature_list]
display(df1.head())
print(df1.shape)

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,MSZoning,OverallQual,OverallCond,Neighborhood,SalePrice
0,8450,3,2,2008,1,2,RL,7,5,CollgCr,208500
1,9600,3,5,2007,0,2,RL,6,8,Veenker,181500
2,11250,3,9,2008,1,2,RL,7,5,CollgCr,223500
3,9550,3,2,2006,0,1,RL,7,5,Crawfor,140000
4,14260,4,12,2008,1,2,RL,8,5,NoRidge,250000

(1460, 11)

In [4]:
column_list = list(df1.columns)
for x in column_list:
    display(df1.groupby(x)[x].agg('count'))

LotArea
1300      1
1477      1
1491      1
1526      1
1533      2
         ..
70761     1
115149    1
159000    1
164660    1
215245    1
Name: LotArea, Length: 1073, dtype: int64

BedroomAbvGr
0      6
1     50
2    358
3    804
4    213
5     21
6      7
8      1
Name: BedroomAbvGr, dtype: int64

MoSold
1      58
2      52
3     106
4     141
5     204
6     253
7     234
8     122
9      63
10     89
11     79
12     59
Name: MoSold, dtype: int64

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
Name: YrSold, dtype: int64

HalfBath
0    913
1    535
2     12
Name: HalfBath, dtype: int64

FullBath
0      9
1    650
2    768
3     33
Name: FullBath, dtype: int64

MSZoning
C (all)      10
FV           65
RH           16
RL         1151
RM          218
Name: MSZoning, dtype: int64

OverallQual
1       2
2       3
3      20
4     116
5     397
6     374
7     319
8     168
9      43
10     18
Name: OverallQual, dtype: int64

OverallCond
1      1
2      5
3     25
4     57
5    821
6    252
7    205
8     72
9     22
Name: OverallCond, dtype: int64

Neighborhood
Blmngtn     17
Blueste      2
BrDale      16
BrkSide     58
ClearCr     28
CollgCr    150
Crawfor     51
Edwards    100
Gilbert     79
IDOTRR      37
MeadowV     17
Mitchel     49
NAmes      225
NPkVill      9
NWAmes      73
NoRidge     41
NridgHt     77
OldTown    113
SWISU       25
Sawyer      74
SawyerW     59
Somerst     86
StoneBr     25
Timber      38
Veenker     11
Name: Neighborhood, dtype: int64

SalePrice
34900     1
35311     1
37900     1
39300     1
40000     1
         ..
582933    1
611657    1
625000    1
745000    1
755000    1
Name: SalePrice, Length: 663, dtype: int64

In [5]:
df1.isnull().sum()

LotArea         0
BedroomAbvGr    0
MoSold          0
YrSold          0
HalfBath        0
FullBath        0
MSZoning        0
OverallQual     0
OverallCond     0
Neighborhood    0
SalePrice       0
dtype: int64

# Data Preparation & Cleaning

In [6]:
display(df1.groupby("BedroomAbvGr")["BedroomAbvGr"].agg('count'))

BedroomAbvGr
0      6
1     50
2    358
3    804
4    213
5     21
6      7
8      1
Name: BedroomAbvGr, dtype: int64

In [7]:
df2 = df1[~(df1.BedroomAbvGr>5) | (df1.BedroomAbvGr==0)]
display(df2)
print(df2.shape)

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,MSZoning,OverallQual,OverallCond,Neighborhood,SalePrice
0,8450,3,2,2008,1,2,RL,7,5,CollgCr,208500
1,9600,3,5,2007,0,2,RL,6,8,Veenker,181500
2,11250,3,9,2008,1,2,RL,7,5,CollgCr,223500
3,9550,3,2,2006,0,1,RL,7,5,Crawfor,140000
4,14260,4,12,2008,1,2,RL,8,5,NoRidge,250000
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,3,8,2007,1,2,RL,6,5,Gilbert,175000
1456,13175,3,2,2010,0,2,RL,6,6,NWAmes,210000
1457,9042,4,5,2010,0,2,RL,7,9,Crawfor,266500
1458,9717,2,4,2010,0,1,RL,5,6,NAmes,142125
1459,9937,3,6,2008,1,1,RL,5,6,Edwards,147500

(1452, 11)

In [8]:
df3 = df2.copy()
df3['price_per_sqft'] = df3['SalePrice']/df3['LotArea']
print(df3.shape)
df3

(1452, 12)

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,MSZoning,OverallQual,OverallCond,Neighborhood,SalePrice,price_per_sqft
0,8450,3,2,2008,1,2,RL,7,5,CollgCr,208500,24.674556
1,9600,3,5,2007,0,2,RL,6,8,Veenker,181500,18.906250
2,11250,3,9,2008,1,2,RL,7,5,CollgCr,223500,19.866667
3,9550,3,2,2006,0,1,RL,7,5,Crawfor,140000,14.659686
4,14260,4,12,2008,1,2,RL,8,5,NoRidge,250000,17.531557
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,3,8,2007,1,2,RL,6,5,Gilbert,175000,22.104332
1456,13175,3,2,2010,0,2,RL,6,6,NWAmes,210000,15.939279
1457,9042,4,5,2010,0,2,RL,7,9,Crawfor,266500,29.473568
1458,9717,2,4,2010,0,1,RL,5,6,NAmes,142125,14.626428
1459,9937,3,6,2008,1,1,RL,5,6,Edwards,147500,14.843514

In [9]:
# df4 = df3[~(df3.FullBath==0) | (df3.FullBath==3)]
# display(df4)
# print(df4.shape)

# Outlier Removal

In [10]:
df3.price_per_sqft.describe()

count    1452.000000
mean       21.094199
std        12.413373
min         1.390441
25%        13.780671
50%        17.867888
75%        23.812552
max        95.384615
Name: price_per_sqft, dtype: float64

In [11]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby(['MSZoning','Neighborhood']):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out

df4 = remove_pps_outliers(df3)
display(df4)
df4.shape

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,MSZoning,OverallQual,OverallCond,Neighborhood,SalePrice,price_per_sqft
0,8500,3,7,2008,0,1,C (all),4,4,IDOTRR,40000,4.705882
1,7879,2,11,2009,0,1,C (all),4,5,IDOTRR,34900,4.429496
2,11040,3,9,2006,1,1,C (all),4,6,IDOTRR,108000,9.782609
3,8712,2,6,2010,0,1,C (all),5,5,IDOTRR,55993,6.427112
4,18000,2,8,2008,0,1,C (all),3,4,IDOTRR,81000,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
1027,10800,3,4,2008,0,2,RM,6,7,OldTown,163000,15.092593
1028,7740,3,6,2010,0,1,RM,4,7,OldTown,125500,16.214470
1029,11340,4,4,2010,0,2,RM,4,6,OldTown,122500,10.802469
1030,7200,2,2,2010,0,1,RM,5,7,OldTown,119000,16.527778
1031,7407,2,4,2010,0,1,RM,6,7,OldTown,149700,20.210612

(1032, 12)

# Model Building

In [12]:
df5 = df4.drop('price_per_sqft', axis='columns')
df5

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,MSZoning,OverallQual,OverallCond,Neighborhood,SalePrice
0,8500,3,7,2008,0,1,C (all),4,4,IDOTRR,40000
1,7879,2,11,2009,0,1,C (all),4,5,IDOTRR,34900
2,11040,3,9,2006,1,1,C (all),4,6,IDOTRR,108000
3,8712,2,6,2010,0,1,C (all),5,5,IDOTRR,55993
4,18000,2,8,2008,0,1,C (all),3,4,IDOTRR,81000
...,...,...,...,...,...,...,...,...,...,...,...
1027,10800,3,4,2008,0,2,RM,6,7,OldTown,163000
1028,7740,3,6,2010,0,1,RM,4,7,OldTown,125500
1029,11340,4,4,2010,0,2,RM,4,6,OldTown,122500
1030,7200,2,2,2010,0,1,RM,5,7,OldTown,119000
1031,7407,2,4,2010,0,1,RM,6,7,OldTown,149700

In [27]:
dummies = pd.get_dummies(df5.MSZoning)
display(dummies)

dummies2 = pd.get_dummies(df5.Neighborhood)
display(dummies2)

      C (all)  FV  RH  RL  RM
0           1   0   0   0   0
1           1   0   0   0   0
2           1   0   0   0   0
3           1   0   0   0   0
4           1   0   0   0   0
...       ...  ..  ..  ..  ..
1027        0   0   0   0   1
1028        0   0   0   0   1
1029        0   0   0   0   1
1030        0   0   0   0   1
1031        0   0   0   0   1

[1032 rows x 5 columns]

,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1028,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1029,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1030,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1031,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [14]:
df6 = df5.drop(['MSZoning','Neighborhood'], axis='columns')
df6

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,OverallQual,OverallCond,SalePrice
0,8500,3,7,2008,0,1,4,4,40000
1,7879,2,11,2009,0,1,4,5,34900
2,11040,3,9,2006,1,1,4,6,108000
3,8712,2,6,2010,0,1,5,5,55993
4,18000,2,8,2008,0,1,3,4,81000
...,...,...,...,...,...,...,...,...,...
1027,10800,3,4,2008,0,2,6,7,163000
1028,7740,3,6,2010,0,1,4,7,125500
1029,11340,4,4,2010,0,2,4,6,122500
1030,7200,2,2,2010,0,1,5,7,119000
1031,7407,2,4,2010,0,1,6,7,149700

In [15]:
df7 = pd.concat([df6, dummies.drop('C (all)', axis='columns')], axis='columns')
df7

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,OverallQual,OverallCond,SalePrice,FV,RH,RL,RM
0,8500,3,7,2008,0,1,4,4,40000,0,0,0,0
1,7879,2,11,2009,0,1,4,5,34900,0,0,0,0
2,11040,3,9,2006,1,1,4,6,108000,0,0,0,0
3,8712,2,6,2010,0,1,5,5,55993,0,0,0,0
4,18000,2,8,2008,0,1,3,4,81000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,10800,3,4,2008,0,2,6,7,163000,0,0,0,1
1028,7740,3,6,2010,0,1,4,7,125500,0,0,0,1
1029,11340,4,4,2010,0,2,4,6,122500,0,0,0,1
1030,7200,2,2,2010,0,1,5,7,119000,0,0,0,1
1031,7407,2,4,2010,0,1,6,7,149700,0,0,0,1

In [16]:
df8 = pd.concat([df7, dummies2.drop('BrDale', axis='columns')], axis='columns')
df8

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,OverallQual,OverallCond,SalePrice,FV,RH,RL,RM,Blmngtn,Blueste,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,8500,3,7,2008,0,1,4,4,40000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7879,2,11,2009,0,1,4,5,34900,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,11040,3,9,2006,1,1,4,6,108000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,8712,2,6,2010,0,1,5,5,55993,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,18000,2,8,2008,0,1,3,4,81000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,10800,3,4,2008,0,2,6,7,163000,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1028,7740,3,6,2010,0,1,4,7,125500,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1029,11340,4,4,2010,0,2,4,6,122500,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1030,7200,2,2,2010,0,1,5,7,119000,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1031,7407,2,4,2010,0,1,6,7,149700,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [17]:
from sklearn.model_selection import train_test_split

def split_data(df):
    X_train, X_val, y_train, y_val = train_test_split(df.loc[:, df.columns != 'SalePrice'], 
                                                      df['SalePrice'], test_size=0.15, random_state=2022)
    return X_train, X_val, y_train, y_val

X_train, X_val, y_train, y_val = split_data(df8)
display(X_train)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,OverallQual,OverallCond,FV,RH,RL,RM,Blmngtn,Blueste,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
876,1890,3,5,2007,1,1,6,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
830,5395,2,10,2008,0,2,8,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
288,8562,4,5,2010,0,1,5,6,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
289,7585,4,8,2006,0,1,5,3,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,10159,3,4,2010,1,2,9,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,4500,2,5,2006,0,2,6,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
240,16381,3,12,2006,0,2,6,5,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
624,10120,4,12,2006,1,2,8,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
173,7000,3,7,2009,0,1,5,8,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
893,6911,2,10,2009,0,1,5,5,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

((877, 36), (155, 36), (877,), (155,))

In [18]:
from xgboost import XGBRegressor

model = XGBRegressor()
model.fit(X_train, y_train, verbose=False)
pred = model.predict(X_val)

In [19]:
from sklearn.metrics import mean_squared_error

def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

print("RMSLE : " + str(rmsle(y_val, pred)))

RMSLE : 25015.41290144702

In [22]:
X_test = test[feature_list[:-1]]
X_test = X_test.drop(['MSZoning','Neighborhood'], axis='columns')
X_test = pd.concat([X_test, dummies.drop('C (all)', axis='columns')], axis='columns')
X_test = pd.concat([X_test, dummies2.drop('BrDale', axis='columns')], axis='columns')
X_test

,LotArea,BedroomAbvGr,MoSold,YrSold,HalfBath,FullBath,OverallQual,OverallCond,FV,RH,RL,RM,Blmngtn,Blueste,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,MeadowV,Mitchel,NAmes,NPkVill,NWAmes,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,11622,2,6,2010,0,1,5,6,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,14267,3,6,2010,1,1,6,6,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13830,3,3,2010,1,2,5,5,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9978,3,6,2010,1,2,6,6,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5005,2,1,2010,0,2,8,5,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1936,3,6,2006,1,1,4,7,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,1894,3,4,2006,1,1,4,5,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,20000,4,9,2006,0,1,5,7,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,10441,3,7,2006,0,1,5,5,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,9627,3,11,2006,1,2,7,5,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
pred = model.predict(X_test)
output = pd.DataFrame({'Id': test['Id'], 'SalePrice': pred})
output.head()

     Id      SalePrice
0  1461  122030.679688
1  1462  168191.281250
2  1463  138773.484375
3  1464  180446.296875
4  1465  208525.812500

In [24]:
output.to_csv("submission_.csv", index=False)